header.header

    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
        .header__column
            form(action=routes.search, method="get")
                input(type="text", placeholder="Search by term...", name="term")
        .header__column
            ul
                if !user.isAuthenticated
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Log In
                else 
                    li
                        a(href=`/videos${routes.upload}`) Upload
                    li
                        a(href=routes.userDetail(user.id)) Profile
                        //-pug파일에는 매개변수가 존재하고 router.js파일에는 매개변수가 없다.
                    li
                        a(href=routes.logout) Log Out

