footer.footer
    div.footer__icon
        i.fab.fa-youtube
    span.footer__text #{siteName} #{new Date().getFullYear()} &copy; 
//-변수인지 파악하기 위해서 #{}사용 또한 백틱을 사용한 변수는 ${}사용하면 변수인지 알 수
//-있으므로 굳이 #{}를 사용할 필요가 없다.